<!DOCTYPE html>

{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container mb-2">
        <div class="row">
            <div class="col">
                <hr>
                <h2 class="logo-font mb-4">Shopping Bag</h2>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col">

                <!-- View List of bag content -->
                {% if bag_items %}

                    <div class="table-responsive rounded d-none d-md-block">

                        <table class="table table-sm table-borderless">
                            <thead class="text-black">
                                <tr>
                                    <th scope="col">Your Order Info</th>
                                    <th scope="col"></th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Qty</th>
                                    <th scope="col">Subtotal</th>
                                </tr>
                            </thead>

                            {% for item in bag_items %}
                                <tr>
                                    <td class="p-3 w-25">
                                        {% if item.service.image %}
                                        <img class="img-fluid rounded" src="{{ item.service.image.url }}" alt="{{ item.service.name }}">
                                        {% else %}
                                        <img class="img-fluid rounded" src="{{ MEDIA_URL }}noimage.png" alt="{{ item.service.name }}">
                                        {% endif %}
                                    </td>
                                    <td class="py-3">
                                        <!-- Service Name and SKU -->
                                        <p class="my-0 logo-font text-black">{{ item.service.name }}</p>
                                        <p class="my-0 mb-2 small text-muted">SKU: {{ item.service.sku|upper }}</p>
                                        
                                        <!-- If Color -->
                                        <p class="my-0 small"><strong>Colors:</strong> {% if item.service.has_colors %}<i class="text-muted">in development</i>{% else %}N/A{% endif %}</p>

                                        <!-- If Dimensions -->
                                        <p class="my-0 small"><strong>Dimensions:</strong> {% if item.service.has_sizes %}<i class="text-muted">in development</i>{% else %}N/A{% endif %}</p>

                                        <!-- If Message -->
                                        <p class="my-0 small"><strong>Message:</strong> {% if item.service.has_user_message %}{% if item.user_message %}{{ item.user_message }}{% else %}None{% endif %}{% else %}N/A{% endif %}</p>
                                    </td>

                                    <!-- Item Price -->
                                    <td class="py-3">
                                        <p class="my-0">${{ item.service.price }}</p>
                                    </td>

                                    <!-- Item Quantity -->
                                    <td class="py-3 w-25">
                                        <form class="form update-form" method="POST" action="{% url 'adjust_bag' item.item_id %}">
                                            {% csrf_token %}
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <button class="decrement-qty btn btn-sm btn-black rounded-0" 
                                                            data-item_id="{{ item.item_id }}" id="decrement-qty_{{ item.item_id }}">
                                                            <span>
                                                                <i class="fas fa-minus fa-sm"></i>
                                                            </span>
                                                        </button>
                                                    </div>
                                                    <input class="form-control form-control-sm qty_input" type="number"
                                                        name="quantity" value="{{ item.quantity }}" min="1" max="99"
                                                        data-item_id="{{ item.item_id }}"
                                                        id="id_qty_{{ item.item_id }}">
                                                    <div class="input-group-append">
                                                        <button class="increment-qty btn btn-sm btn-black rounded-0"
                                                            data-item_id="{{ item.item_id }}" id="increment-qty_{{ item.item_id }}">
                                                            <span>
                                                                <i class="fas fa-plus fa-sm"></i>
                                                            </span>
                                                        </button>
                                                    </div>
                                                    {% if item.service.has_user_message %}
                                                        <input type="hidden" name="service_user_message" value="{{ item.user_message }}">
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </form>
                                        <a class="update-link text-info"><small>Update</small></a>
                                        <a class="remove-link text-danger float-right" id="remove_{{ item.item_id }}" data-service_user_message="{{ item.user_message }}"><small>Remove</small></a>
                                    </td>

                                    <!-- SubTotal -->
                                    <td class="py-3">
                                        <p class="my-0">${{ item.service.price | calc_subtotal:item.quantity }}</p>
                                    </td>
                                </tr>
                            {% endfor %}

                            <tr>
                                <td colspan="5" class="pt-5 text-right">
                                    <h6><strong>Bag Total: ${{ total|floatformat:2 }}</strong></h6>
                                    <h6>Promo Disccount: ${{ promo|floatformat:2 }}</h6>
                                    <h4 class="mt-4"><strong>Grand Total: ${{ grand_total|floatformat:2 }}</strong></h4>
                                    {% if ten_off_delta > 0 %}
                                        <p class="mb-1 text-danger">
                                            You could get 10% off by spending just <strong>${{ ten_off_delta }}</strong> more!
                                        </p>
                                    {% endif %}
                                </td>
                            </tr>

                            <tr>
                                <td colspan="5" class="text-right">
                                    <a href="{% url 'services' %}" class="btn btn-outline-black rounded-0 btn-lg">
                                        <span class="icon">
                                            <i class="fas fa-chevron-left"></i>
                                        </span>
                                        <span class="text-uppercase">Keep Shopping</span>
                                    </a>
                                    <a href="{% url 'checkout' %}" class="btn btn-black rounded-0 btn-lg">
                                        <span class="text-uppercase">Secure Checkout</span>
                                        <span class="icon">
                                            <i class="fas fa-lock"></i>
                                        </span>
                                    </a>
                                </td>
                            </tr>

                        </table>

                    </div>

                {% else %}

                    <p class="lead mb-5">Your bag is empty.</p>
                    <a href="{% url 'services' %}" class="btn btn-outline-black rounded-0 btn-lg">
                        <span class="icon">
                            <i class="fas fa-chevron-left"></i>
                        </span>
                        <span class="text-uppercase">Keep Shopping</span>
                    </a>
                    
                {% endif %}
            </div>
        </div>

    </div>

    <!-- Back to the top button -->
    <div class="btt-button shadow-sm rounded-0 border border-black">
        <a class="btt-link d-flex h-100">
            <i class="fas fa-arrow-up text-black mx-auto my-auto"></i>
        </a>	
    </div>

{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <!-- Back to Top Js -->
    <script src="{% static 'js/backtop.js' %}"></script>

    <!-- Quantity Box/Button Js -->
    <script src="{% static 'js/quantity_input.js' %}"></script>
    
    <!-- Quantity Update/Remove Js
    This javascript portion has to stay in the HTML file for the code to work. -->
    <script type="text/javascript">

        // Update quantity on click
        $('.update-link').click(function(e) {
            var form = $(this).prev('.update-form');
            form.submit();
        })

        // Remove item and reload on click
        $('.remove-link').click(function(e) {
            var csrfToken = "{{ csrf_token }}";
            var itemId = $(this).attr('id').split('remove_')[1];
            var user_message = $(this).data('service_user_message');
            var url = `/bag/remove/${itemId}/`;
            var data = {'csrfmiddlewaretoken': csrfToken, 'service_user_message': user_message};

            $.post(url, data)
            .done(function() {
                location.reload();
            });
        })

    </script>
{% endblock %}