<!DOCTYPE html>

{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container mb-2">
        <div class="row">
            <div class="col">
                <hr>
                <h2 class="logo-font mb-4">Shopping Bag</h2>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col">

                <!-- View List of bag content -->
                {% if bag_items %}

                    <div class="table-responsive rounded d-none d-md-block">

                        <table class="table table-sm table-borderless">
                            <thead class="text-black">
                                <tr>
                                    <th scope="col">Service Info</th>
                                    <th scope="col"></th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Qty</th>
                                    <th scope="col">Subtotal</th>
                                </tr>
                            </thead>

                            {% for item in bag_items %}
                                <tr>
                                    <td class="p-3 w-25">
                                        <img class="img-fluid rounded" src="{{ item.service.image.url }}">
                                    </td>
                                    <td class="py-3">
                                        <!-- Service Name and SKU -->
                                        <p class="my-0 logo-font text-black">{{ item.service.name }}</p>
                                        <p class="my-0 mb-2 small text-muted">SKU: {{ item.service.sku|upper }}</p>
                                        
                                        <!-- Chosen Color -->
                                        <p class="my-0 small"><strong>Color Scheme:</strong> {% if item.service.has_colors %}{{ item.color|upper }}{% else %}N/A{% endif %}</p>

                                        <!-- Chosen Dimensions -->
                                        <p class="my-0 small"><strong>Dimensions:</strong> {% if item.service.has_sizes %}{{ item.size|upper }}{% else %}N/A{% endif %}</p>

                                        <!-- Chosen Dev Options -->
                                        <p class="my-0 small"><strong>Features:</strong> {% if item.service.has_webdev_options %}{{ item.webdev_options }}{% else %}N/A{% endif %}</p>

                                        <!-- Chosen Message -->
                                        <p class="my-0 small"><strong>Message:</strong> {% if item.service.has_user_message %}{{ item.user_message }}{% else %}N/A{% endif %}</p>
                                    </td>
                                    <td class="py-3">
                                        <p class="my-0">${{ item.service.price }}</p>
                                    </td>
                                    <td class="py-3 w-25">
                                        <form class="form update-form" method="POST" action="">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <button class="decrement-qty btn btn-sm btn-black rounded-0" 
                                                        data-item_id="{{ item.item_id }}" id="decrement-qty_{{ item.item_id }}">
                                                        <span>
                                                            <i class="fas fa-minus fa-sm"></i>
                                                        </span>
                                                    </button>
                                                </div>
                                                <input class="form-control form-control-sm qty_input" type="number"
                                                    name="quantity" value="{{ item.quantity }}" min="1" max="99"
                                                    data-item_id="{{ item.item_id }}"
                                                    id="id_qty_{{ item.item_id }}">
                                                <div class="input-group-append">
                                                    <button class="increment-qty btn btn-sm btn-black rounded-0"
                                                        data-item_id="{{ item.item_id }}" id="increment-qty_{{ item.item_id }}">
                                                        <span>
                                                            <i class="fas fa-plus fa-sm"></i>
                                                        </span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        </form>
                                        <a class="update-link text-info"><small>Update</small></a>
                                        <a class="remove-link text-danger float-right" id="remove_{{ item.item_id }}" data_service_size="{{ item.size }}"><small>Remove</small></a>
                                    </td>
                                    <td class="py-3">
                                        <p class="my-0">${{ item.service.price }}</p>
                                    </td>
                                </tr>
                            {% endfor %}
                            <tr>
                                <td colspan="5" class="pt-5 text-right">
                                    <h6><strong>Bag Total: ${{ total|floatformat:2 }}</strong></h6>
                                    <h6>Promo Disccount: ${{ promo|floatformat:2 }}</h6>
                                    <h4 class="mt-4"><strong>Grand Total: ${{ grand_total|floatformat:2 }}</strong></h4>
                                    {% if ten_off_delta > 0 %}
                                        <p class="mb-1 text-danger">
                                            You could get 10% off by spending just <strong>${{ ten_off_delta }}</strong> more!
                                        </p>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td colspan="5" class="text-right">
                                    <a href="{% url 'services' %}" class="btn btn-outline-black rounded-0 btn-lg">
                                        <span class="icon">
                                            <i class="fas fa-chevron-left"></i>
                                        </span>
                                        <span class="text-uppercase">Keep Shopping</span>
                                    </a>
                                    <a href="" class="btn btn-black rounded-0 btn-lg">
                                        <span class="text-uppercase">Secure Checkout</span>
                                        <span class="icon">
                                            <i class="fas fa-lock"></i>
                                        </span>
                                    </a>
                                </td>
                            </tr>
                        </table>

                    </div>

                {% else %}

                    <p class="lead mb-5">Your bag is empty.</p>
                    <a href="{% url 'services' %}" class="btn btn-outline-black rounded-0 btn-lg">
                        <span class="icon">
                            <i class="fas fa-chevron-left"></i>
                        </span>
                        <span class="text-uppercase">Keep Shopping</span>
                    </a>
                {% endif %}
            </div>
        </div>

    </div>
{% endblock %}

<!-- Custom Js from services templates includes -->
{% block postloadjs %}
{{ block.super }}
<script type="text/javascript">
    $('.btt-link').click(function(e) {
        window.scrollTo(0,0)
    })
</script>

{% include 'services/includes/quantity_input_script.html' %}

<script type="text/javascript">
    // Update quantity on click
    $('.update-link').click(function(e) {
        var form = $(this).prev('.update-form');
        form.submit();
    })

    // Remove item and reload on click
    $('.remove-link').click(function(e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var size = $(this).data('service_size');
        var url = `/bag/remove/${itemId}/`;
        var data = {'csrfmiddlewaretoken': csrfToken, 'service_size': size};

        $.post(url, data)
         .done(function() {
             location.reload();
         });
    })
</script>
{% endblock %}