<!DOCTYPE html>

<!-- Service Name and SKU -->
<p class="my-0 logo-font text-black">{{ item.service.name }}</p>
<p class="my-0 mb-2 small text-muted">SKU: {{ item.service.sku|upper }}</p>

<!-- If Color -->
<p class="my-0 small"><strong>Colors:</strong>
	{% if item.service.has_colors %}<i class="text-muted">in development</i>{% else %}N/A{% endif %}</p>

<!-- If Dimensions -->
<p class="my-0 small"><strong>Dimensions:</strong>
	{% if item.service.has_sizes %}<i class="text-muted">in development</i>{% else %}N/A{% endif %}</p>

<!-- If Message -->
<p class="my-0 small"><strong>Message:</strong>
	{% if item.service.has_user_message %}{% if item.user_message %}{{ item.user_message }}{% else %}None{% endif %}{% else %}N/A{% endif %}
</p>