<!DOCTYPE html>

{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="row h-100 opening-quote">
            <div class="w-50 mx-auto my-auto">
                <h3 class="text-black text-center mb-3">
                    I am Kes Cardoso: <br/>
                    command line bottisatva, <br/>
                    elightening tiny pixels <br/>
                    for a greater purpose.
                </h3>
                <h5 class="text-muted text-center mb-3">
                    My mission is to help you create and launch <br/>
                    your professional digital project.
                </h5>
                <div class="mx-auto my-auto text-center">
                    <h3>
                        <a href="" class="shop-now-button btn btn-lg rounded-0 text-uppercase">Let's work together!</a>
                    </h3>
                </div>
            </div>
        </div>
    </div>
{% endblock %}