<!DOCTYPE html>

{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
	<div class="row">
		<div class="col"></div>
	</div>
</div>
{% endblock %}

{% block content %}
<div class="container h-100">
	<div class="row h-100 opening-quote">
		<!-- Opening quote and button: Xs Sm Screens -->
		<div class="w-70 pr-2 pl-2 mx-auto my-auto text-center d-block d-md-none">
			<h3 class="text-black mb-3">
                I am KC:
                <br>
                command line bottisatva, elightening tiny pixels for a greater purpose.
            </h3>
            <h5 class="text-muted mb-3">
                My mission is to help you create and launch your professional digital project.
            </h5>
            <div class="mx-auto my-auto text-center">
                <h3>
                    <a href="{% url 'services' %}" class="shop-now-button btn btn-lg rounded-0 text-uppercase">
                        Let's work together!
                    </a>
                </h3>
            </div>
		</div>
		<!-- Opening quote and button: Md Lg Xl Screens -->
		<div class="w-50 mx-auto my-auto text-center d-none d-md-block">
			<h3 class="text-black mb-3">
				I am KC:
				<br>
                command line bottisatva,
				<br>
                elightening tiny pixels for a greater purpose.
            </h3>
            <h5 class="text-muted mb-3">
                My mission is to help you create and launch
                <br>
                your professional digital project.
            </h5>
            <div class="mx-auto my-auto text-center">
                <h3>
                    <a href="{% url 'services' %}" class="shop-now-button btn btn-lg rounded-0 text-uppercase">
                        Let's work together!
                    </a>
                </h3>
            </div>
		</div>
	</div>
</div>
{% endblock %}