/* Carousel Caption */
.mycarousel-row {
    width: 75%;
}

/* Carousel Caption */
.carousel-caption {
    position: relative;
    left: 0;
    top: 0;
    padding-bottom: 35px;
    padding-top: 10px;
    margin-bottom: 2px;
}

/* Carousel controls: next / previous */
.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-image: none;
    height: 100px;
    width: 100px;
    font-weight: bold;
    font-size: 150%;
}
.carousel-control-next-icon:after
{
    content: '⇢';
    color: black;
}
.carousel-control-prev-icon:after {
    content: '⇠';
    color: black;
}

/* Carousel indicators */
.carousel-indicators li {
    background-color: grey;
}
.carousel-indicators .active{
    background-color: black;
}

/* Item positioning */
.carousel-item {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.carousel-item:before {
  content: "";
  display: block;
}