<!DOCTYPE html>

{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
        <div class="container-fluid">
            <div class="row">

                <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
                    <div class="image-container m-5">
                        <!-- Service Heading -->
                        <h5 class="text-uppercase text-center mb-3">{{ service.name }}</h5>
                        <!-- Service Image -->
                        {% if service.image %}
                            <a href="{{ service.image.url }}" target="_blank">
                                <img class="card-img-top img-fluid" src="{{ service.image.url }}" alt="{{ service.name }}">
                            </a>
                        {% else %}
                            <a href="">
                                <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ service.name }}">
                            </a>
                        {% endif %}
                        
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-4">
                    <div class="service-details-container mb-5 mt-md-5">
                        <!-- Service Name -->
                        <p class="mb-0">{{ service.name }}</p>
                        <!-- Service Price -->    
                        <p class="lead mb-0 text-left font-weight-bold">${{ service.price }}</p>
                        <!-- Service Category -->           
                        {% if service.category %}
                            <p class="small mt-1 mb-0">
                                <a class="text-muted" href="{% url 'services' %}?category={{ service.category.name }}">
                                    <i class="fas fa-tag mr-1"></i>{{ service.category.friendly_name }}
                                </a>
                            </p>
                        {% endif %}
                        <!-- Service Rating -->
                        {% if service.rating %}
                            <small class="text-muted"><i class="fas fa-star mr-1"></i>{{ service.rating }} / 5</small>
                        {% else %}
                            <small class="text-muted">No Rating</small>
                        {% endif %}
                        <!-- Service Description -->    
                        <p class="mt-3">{{ service.description }}</p>

                        <form class="form" action="{% url 'add_to_bag' service.id %}" method="POST">
                            {% csrf_token %} <!-- Form with POST method, needs csrf token for Django form's protection -->
                    
                                <!-- Service Quantity & Service Id -->
                                <div class="col-12">
                                    <p class="mt-3"><strong>Quantity:</strong></p>
                                    <div class="form-group w-50">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <button class="decrement-qty btn btn-black rounded-0" 
                                                    data-item_id="{{ service.id }}" id="decrement-qty_{{ service.id }}">
                                                    <span class="icon">
                                                        <i class="fas fa-minus"></i>
                                                    </span>
                                                </button>
                                            </div>
                                            <input class="form-control qty_input" type="number"
                                                name="quantity" value="1" min="1" max="99"
                                                data-item_id="{{ service.id }}"
                                                id="id_qty_{{ service.id }}">
                                            <div class="input-group-append">
                                                <button class="increment-qty btn btn-black rounded-0"
                                                    data-item_id="{{ service.id }}" id="increment-qty_{{ service.id }}">
                                                    <span class="icon">
                                                        <i class="fas fa-plus"></i>
                                                    </span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Submit buttom and keep shopping button -->
                                <div class="col{% if s %}-12 mt-2{% endif %}">
                                    <a href="{% url 'services' %}" class="btn btn-outline-black rounded-0 mt-5">
                                        <span class="icon">
                                            <i class="fas fa-chevron-left"></i>
                                        </span>
                                        <span class="text-uppercase">Keep Shopping</span>
                                    </a>
                                    <input type="submit" class="btn btn-black rounded-0 text-uppercase mt-5" value="Add to Bag">
                                </div>
                                <input type="hidden" name="redirect_url" value="{{ request.path }}">
                            
                        </form>

                        <!-- Admin Privileges: Edit and Delete -->
                        {% if request.user.is_superuser %}
                            <small class="ml-3">
                                <a href="">Edit</a> | 
                                <a class="text-danger" href="">Delete</a>
                            </small>
                        {% endif %}
                    </div>
                </div>        
            </div>
        </div>
{% endblock %}